// Base styling

// Compass imports & mixins
@import "compass";
@import "blueprint/grid";
@import "compass/layout.scss";

body {
	font-size: 16px;
	margin: 0;
	color: #333;
}

h1, h2, h3, p {margin: 0;}
