// Mixins
@mixin breakpoint($point) {
  @if $point == large-size {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == medium-size {
    @media (max-width: 650px)  { @content; }
  }
  @else if $point == tiny-size {
    @media (max-width: 400px)  { @content; }
  }
}

@function emCalc($pxWidth) {
  @return $pxWidth / $em-base * 1em;
}

@mixin customBoxes($customWidth, $type) {
  li {
    width: ((($width-basic - $customWidth - (2*$spacing-thirty))/2)/($width-basic + $spacing-thirty)*100%);
    @if $type == left {
      &:first-child { width: ($customWidth/($width-basic + $spacing-thirty)*100%);}
    }
    @else if $type == right {
      &:last-child { width: ($customWidth/($width-basic + $spacing-thirty)*100%);}
    }
    @include breakpoint(medium-size) {
      @if $type == left {
        &:first-child {float: none; margin: 0 auto $spacing-twenty; width: ((($width-basic - ($spacing-twenty * 2))/2) / ($width-basic + $spacing-twenty))*100%}
      }
      @else if $type == right {
        &:last-child {float: none; margin: 0 auto $spacing-twenty; clear: both; width: ((($width-basic - ($spacing-twenty * 2))/2) / ($width-basic + $spacing-twenty))*100%}
      }
      width: ((($width-basic - ($spacing-twenty * 2))/2) / ($width-basic + $spacing-twenty))*100%;
    }
    @include breakpoint(tiny-size) { width: 100% !important; margin-left: 0;}
  }
}

@mixin boxes($amount) {
  margin-left: (-$spacing-thirty/$width-basic)*100% !important;
  li {
    float: left;
    margin-left: ($spacing-thirty/($width-basic + $spacing-thirty))*100%;
    @if $amount == 3 {
      width: ((($width-basic - ($spacing-thirty*2))/3)/($width-basic + $spacing-thirty))*100%;
    }
    @else if $amount == 4 {
      width: ((($width-basic - ($spacing-thirty*3))/4) / ($width-basic + $spacing-thirty))*100%;
    }
  }
  @include breakpoint(medium-size) {
    li {width: ((($width-basic - ($spacing-twenty * 2))/2) / ($width-basic + $spacing-twenty))*100%;}
  }
  @include breakpoint(tiny-size) {
    li { width: 100%; margin-left: 0;}
  }
}
