// Layout core
hgroup {@extend %wrapper;}

nav > div {@extend %wrapper;}

// Whole section
.main-container {
	> div {@extend %wrapper;}
}

// Content box for two columns
.narrow-content {
	padding: 2%;
	@include breakpoint(medium-size) {
		float: left;
		width: 66%;
	}
	@include breakpoint(baby-size) {
		float: none;
		width: 100%;
	}
}

// Content box for full width
.content {
	width: 100%;
	ul {@extend %clearlist; overflow: hidden; margin-bottom: $spacing-bottom;}
	li {margin-bottom: 20px;}
	.boxes-four{
		margin-left: (-21px/$width-basic)*100%;
		li {
			float: left;
			width: (285px/($width-basic + 20px))*100%;
			margin-left: (20px/($width-basic + 20px))*100%;
		}
		@include breakpoint(baby-size) {
			li { width: (580px/($width-basic + 20px))*100%; }
		}	
		@include breakpoint(tiny-size) {
			li { width: 100%; margin-left: 0;}
		}	
	}

	.boxes-three{
		margin-left: (-31px/$width-basic)*100%;
		li {
			float: left;
			width: (380px/($width-basic + 30px))*100%;
			margin-left: (30px/($width-basic + 30px))*100%;
		}
		@include breakpoint(baby-size) {
			li { width: (580px/($width-basic + 20px))*100%; }
		}
		@include breakpoint(tiny-size) {
			li { width: 100%; margin-left: 0;}
		}	
	}
	p {margin: 5%;}
}

// Aside box for two columns
aside {
	padding: 2%;
	@include breakpoint(medium-size) {
		width: 26%;
		float: right;
	}
	@include breakpoint(baby-size) {
		float: none;
		width: 100%;
	}
}

// Footer
footer {
	> div {@extend %wrapper;}
	@include breakpoint(medium-size) {
		clear: both;
	}	
}

@include sticky-footer(100px);
 