// Layout core
hgroup {@extend %wrapper;}

nav { > div, > ul {@extend %wrapper;}
	.toggle-menu {width: 100%; padding: 0; text-align: center; display: none;}
	@include breakpoint(medium-size) {
		ul {display: none;
			&.show {display: block;
				li {float: none; a {text-align: center;}}
			}
		}
		.toggle-menu {display: block;}
	}
}

// Whole section
.main-container {
	> div {@extend %wrapper;}
}

// Content box for two columns
.narrow-content {
	padding: 2%;
	float: left;
	width: 66%;
	@include breakpoint(medium-size) {
		float: none;
		width: 96%;
	}
}

// Content box for full width
.content {
	width: 100%;
	ul {@extend %clearlist; overflow: hidden; margin-bottom: $spacing-bottom;}
	li {margin-bottom: 20px;}
	p {margin: 20px;}
}

.image-box {img {@extend %fleximage;}
	float: left; margin: 0 $spacing-twenty 0 0;
	&.on-right {float: right; margin: 0 0 0 $spacing-twenty;}
	@include breakpoint(medium-size) {float: none !important; margin: 0 auto $spacing-twenty !important;}
}

.boxes-three {
	margin-left: (-$spacing-thirty/$width-basic)*100% !important;
	li {
		float: left;
		width: ((($width-basic - ($spacing-thirty*2))/3)/($width-basic + $spacing-thirty))*100%;
		margin-left: ($spacing-thirty/($width-basic + $spacing-thirty))*100%;
	}
	@include breakpoint(medium-size) {
		li {width: ((($width-basic - ($spacing-twenty * 2))/2) / ($width-basic + $spacing-twenty))*100%;}
	}
	@include breakpoint(tiny-size) {
		li { width: 100%; margin-left: 0;}
	}
	&.custom-left {
		@include customBoxes(200px, left);
	}
	&.custom-right {
		@include customBoxes(200px, right);
	}
}

.boxes-four {
	margin-left: (-$spacing-thirty/$width-basic)*100% !important;
 	li {
 		float: left;
 		width: ((($width-basic - ($spacing-thirty*3))/4) / ($width-basic + $spacing-thirty))*100%;
 		margin-left: ($spacing-thirty/($width-basic + $spacing-thirty))*100%;
 	}
	@include breakpoint(medium-size) {
		li {width: ((($width-basic - ($spacing-twenty * 2))/2) / ($width-basic + $spacing-twenty))*100%;}
	}
	@include breakpoint(tiny-size) {
		li { width: 100%; margin-left: 0;}
	}
}

// Aside box for two columns
aside {
	padding: 2%;
	width: 26%;
	float: right;
	@include breakpoint(medium-size) {
		float: none;
		width: 96%;
	}
}

// Footer
footer {
	> div {@extend %wrapper;}
	@include breakpoint(large-size) {
		clear: both;
	}
}

@include sticky-footer(100px);

