// Layout core
hgroup {@extend %wrapper;}

nav > div {@extend %wrapper;}

// Whole section
.main-container {
	> div {@extend %wrapper;}
}

// Content box for two columns
.narrow-content {
	padding: 2%;
	float: left;
	width: 66%;
	@include breakpoint(baby-size) {
		float: none;
		width: 100%;
	}
}

// Content box for full width
.content {
	width: 100%;
	ul {@extend %clearlist; overflow: hidden; margin-bottom: $spacing-bottom;}
	li {margin-bottom: 20px;}
	.boxes-four{
		margin-left: (-$spacing-horizontal-twenty/$width-basic)*100%;
		li {
			float: left;
			width: ((($width-basic - ($spacing-horizontal-twenty * 3))/4) / ($width-basic + $spacing-horizontal-twenty))*100%;
			margin-left: ($spacing-horizontal-twenty/($width-basic + $spacing-horizontal-twenty))*100%;
		}
		@include breakpoint(medium-size) {
			li { 
				width: ((($width-basic - ($spacing-horizontal-twenty * 2))/2) / ($width-basic + $spacing-horizontal-twenty))*100%;
			}
		}	
		@include breakpoint(tiny-size) {
			li { width: 100%; margin-left: 0;}
		}	
	}

	.boxes-three{
		margin-left: (-$spacing-horizontal-thirty/$width-basic)*100%;
		li {
			float: left;
			width: ((($width-basic - ($spacing-horizontal-thirty*2))/3)/($width-basic + $spacing-horizontal-thirty))*100%;
			margin-left: ($spacing-horizontal-thirty/($width-basic + $spacing-horizontal-thirty))*100%;
		}
		@include breakpoint(medium-size) {
			li {width: ((($width-basic - ($spacing-horizontal-twenty * 2))/2) / ($width-basic + $spacing-horizontal-twenty))*100%;}
		}
		@include breakpoint(tiny-size) {
			li { width: 100%; margin-left: 0;}
		}	
	}
	p {margin: 5%;}
}

// Aside box for two columns
aside {
	padding: 2%;
	width: 26%;
	float: right;
	@include breakpoint(medium-size) {
		float: none;
		width: 100%;
	}
}

// Footer
footer {
	> div {@extend %wrapper;}
	@include breakpoint(large-size) {
		clear: both;
	}	
}

@include sticky-footer(100px);
 