// Spices: Extra shizzle that has nothing to do with the layout appearence.
// Such as colours, font-size, etc.

// Layout spices
header {color: #fff; text-align: center; background: $color-dark;
	h1 {padding-top: 20px;}
	h2 {font-size: $h5-font-size; font-family: $font-content; padding: 20px 0;}
}

// Whole section
body { background: $color-creme; }

// Content box for two columns
.narrow-content { background: $color-rose;
	// For this example, we decided to keep the width of images 320px
	.image-box {width: 320px;}
}
.two-cols {overflow: hidden; margin-bottom: $spacing-bottom !important;}

// Content box for full width
.content {
	li { background: #fff; }
}

// Aside box for two columns
aside { background: $color-orange; }

// Footer
footer {margin-top: -140px; background: $color-dark; color: #fff;}

nav {background: $color-blue; margin-bottom: $spacing-bottom;
	ul {@extend %clearlist; overflow: hidden;}
	li {float: left;}
	a {color: #fff; display: block; padding: 10px;}
	.toggle-menu {background: rgba(0, 0, 0, 0.3);}
}

.content {margin-bottom: $spacing-bottom;}

