// Spices: Extra shizzle that has nothing to do with the layout appearence.
// Such as colours, font-size, etc.

// Layout spices
header {color: #fff; text-align: center; background: $color-dark;
	h1 {padding-top: 20px;}
	h2 {font-size: $h5-font-size; font-family: $font-content; padding: 20px 0;}
}

// Whole section
body { background: $color-creme; }

// Content box for two columns
.narrow-content { background: $color-rose;
	// For this example, we decided to keep the width of images 320px
	.image-box {width: 320px;}
}
.two-cols {overflow: hidden; margin-bottom: $spacing-bottom !important;}

// Content box for full width
.content {
	li { background: #fff; }
}

// Aside box for two columns
aside { background: $color-orange; }

// Footer
footer {margin-top: -140px; background: $color-dark; color: #fff;}

nav {background: $color-blue; margin-bottom: $spacing-bottom;
	ul {@extend %clearlist; overflow: hidden;}
	li {float: left;}
	a {color: #fff; display: block; padding: 10px;}
	.toggle-menu {background: rgba(0, 0, 0, 0.3);}
}

.content {margin-bottom: $spacing-bottom;}

// BLOGPOST
.blogpost {
	article { @include col(800px, 0px, right)}
	aside {@include col(200px, 0px, left)}
}
.blogpost-content {
	.textbox {
		@include col(560px, 0px, left, 800px) {
			@include breakpoint(medium-size) { width: 100%;}
		};
	}
	aside {@include col(215px, 0px, right, 800px) {@include breakpoint(medium-size) { width: 100%;}};}
}

.comments {background: $color-blue; clear: both; padding: 40px 0; margin: 40px 0;
	> div {@extend %wrapper;}
	h1 {text-align: center;}
	article {width: emCalc(530px); margin: 0 auto; overflow: hidden;}
	.avatar { width: emCalc(95px); float: left;
		img {@extend %fleximage;}
	}
	.comment-text {width: (395px/530px)*100%; float: left; background: rgba(255, 255, 255, 0.4); padding:(20px/530px)*100%;}
}

.related {
	ul {@extend %clearlist; overflow: hidden; padding-bottom: 40px;}
	li {background: #fff;
		@include breakpoint(medium-size) {
			width: ((($width-basic - ($spacing-twenty * 2))/3) / ($width-basic + 53px))*100% !important;}
	}
	h2 {font-size: 18px; font-weight: normal;}
}


























